.profile{
    width: 4vw;
    height: 4vh;
    border-radius: 18%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar.logo{
    width:max(10%,80px) ;
}